@import "config";

html,
body,
#root,
.App {
  height: 100vh;
  height: 100%;
}

body,
.App {
  background-color: $greyshade;
  // margin: 1px;
}

.App {
  // height: 100vh;
}

.App {
  .addNew,
  .toggleTheme {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    background-color: $amber;
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    color: white;
    border-radius: 50%;
    font-size: 2rem;

    &:hover {
      background-color: lighten($amber, 10%);
    }
  }

  .toggleTheme {
    right: 6rem;
    background-color: transparent;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: transparent;
      border: 3px solid black;
    }
  }

  .exportAll,
  .importSingle,
  .importAll {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0 0.4rem;
    background-color: rgb(250, 250, 250, 0.4);

    border: none;
    padding: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: blue;
    }
  }

  .importSingle {
    right: 3rem;
  }
  .importAll {
    right: 6rem;
  }
}
