@import "config";

.EditorContainer {
  visibility: hidden;
  position: fixed;
  z-index: 10;
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &.active {
    visibility: visible;
  }
}

.Editor {
  //   display: flex;
  //   flex-direction: column;
  box-sizing: border-box;
  border: 6px solid darken($greyshade, 10%);
  position: absolute;

  inset: 0;
  margin: auto;

  background-color: white;
  //   width: 100%;
  //   height: 100%;
  width: 0;
  height: 0;
  overflow-y: auto;
  transition: all 0.4s ease-in-out;

  .titleBar {
    padding: 0.5rem;
    text-align: center;
    background-color: grey;
    color: white;
    height: 1.5rem;
    overflow-y: hidden;
    border-bottom: 2px solid black;
  }

  &.active {
    width: 100%;
    height: 100%;
    // transform: scale(1)
  }

  .encrypt {
  }

  .article {
    min-height: 10rem;
    height: calc(100% - 50px);
    // border-bottom: 1px solid rgb(100, 100, 100);
    // height: 13rem;
    overflow-y: auto;
    .edit {
      padding: 0.5rem;
      //   border: none;
      outline: none;
      //   height: 19rem;
      //   min-height: 200px;
      height: calc(100% - 50px);
    }
  }
}

.options {
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(100, 100, 100, 0.2);

  .leftButtons {
    display: flex;
    align-items: flex-end;
  }

  .title {
    background-color: white;
    padding: 0.2rem;
    margin: 0 0.4rem;
    display: flex;
    // height: 2rem;

    span {
      max-width: 75px;
      max-height: 1.5rem;
      overflow: hidden;
    }
  }

  .close,
  .save,
  .deleteBtn,
  .encrypt,
  .editTitle,
  .threedots {
    margin: 0 0.4rem;
    background-color: rgb(250, 250, 250, 0.4);

    border: none;
    padding: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: black;
    transition: all 0.2s ease-in-out;
  }

  .editTitle {
    margin: 0 0.2rem;
    background-color: rgb(100, 100, 100, 0.2);
  }

  .encrypt:hover {
    color: lighten(black, 30%);
  }

  .save {
    color: grey;
    background-color: transparent;
  }

  .save.active {
    color: black;

    &:hover {
      color: lightgreen;
    }
  }

  .close:hover,
  .deleteBtn:hover {
    color: red;
  }
}
