@import "config";

.ExpandedOptions {
  position: absolute;
  //   box-sizing: border-box;
  visibility: hidden;
  top: 1rem;
  right: 1.5rem;
  width: 0px;
  max-height: 0;
  background-color: white;
  border: 1px solid black;
  z-index: 10;
  overflow: hidden;
  // transition: max-height 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out,
    max-height 1s ease-in-out;

  .list {
    width: 100%;
    border: none;
    background-color: transparent;
    margin: 0.2rem;
    display: flex;
    cursor: pointer;

    &:hover {
      background-color: $greyshade;
    }

    .icon {
      width: 20%;
    }
    .name {
      width: 80%;
    }
  }
}

.ExpandedOptions.active {
  width: 150px;
  //   height: 200px;
  max-height: 500px;
  visibility: visible;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out,
    max-height 1s ease-in-out;
}
