@import "config";

.Notes {
  .emptyMessage {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  .deleteCross {
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;

    background-color: transparent;
    border: none;
    cursor: pointer;
    // padding: 0;
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: rgb(200, 200, 200);
    }
  }

  display: flex;
  flex-wrap: wrap;

  .Note {
    width: 150px;
    max-height: 100px;
    padding: 0.8rem;
    padding-top: 0;
    background-color: white;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 13px;
    overflow: hidden;
    white-space: pre-wrap;
    position: relative;

    .titleSection {
      background-color: rgb(240, 240, 240);
      font-size: 0.8rem;
      width: fit-content;
      height: 1rem;
      overflow: hidden;
      font-weight: bold;
    }
  }
}
