@import "config";

.Overlay {
  .fileUploadInput {
    cursor: pointer;
  }
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(100, 100, 100, 0.3);
  z-index: 20;
  min-height: 200px;
  // overflow-y: auto;

  .Box {
    box-sizing: border-box;
    // padding: 0.5rem;
    // padding-bottom: 0;
    padding: 1rem 0.5rem 0 0.5rem;
    border: 2px solid black;
    border-radius: 3px;
    width: 300px;
    height: fit-content;
    // height: 400px;
    position: absolute;
    background-color: white;

    inset: 0;
    margin: auto;

    .passwordSection {
      input {
        height: 1.5rem;
      }
    }

    .Buttons {
      width: fit-content;
      margin-left: auto;
    }

    .passwordNote {
      span {
        font-weight: bold;
      }

      font-size: 0.8rem;
    }

    .close,
    .select {
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      font-size: 0.7rem;

      margin: 1px 0.4rem;
    }
  }

  .passwordNote {
    margin: 0.7rem 0;
  }
}
